@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

body {
  background: linear-gradient(to right, rgb(158, 158, 214), rgb(0, 38, 51));
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 78px;
  background: linear-gradient(to right, rgb(182, 182, 235), rgb(169, 176, 243));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
